<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<!-- En spring es necesita establecerle el nombre a nuestro Dispatcher, este va a ser
el encargado atender nuestras peticiones por parte del cliente -->
 
 <servlet>
 	<servlet-name>spring</servlet-name>
 	<servlet-class>org.springframework.web.servelet.DispatcherServlet</servlet-class>
 	
 	<!-- Esto quiere decir que apenas arranque el servidor y una peticion sea enviada
 	el spring va a tener el primer hito de atender la solución-->
 	<load-on-startup>1</load-on-startup>
 </servlet>
 
 <!-- Ahora necesito mapear el tipo de peticion que va a hacer trabajador bajo spring-->
 <servlet-mapping>
 	<servlet-name>spring</servlet-name>
 	<url-pattern>*.html</url-pattern>
 	
 </servlet-mapping>
 
 <!-- RESUMEN
  Una vez que yo declare el nombre de mi dispatcher, de mi servlet, abajo yo necesito mapear que tipo
  de peticiones va a responder este framework.
  Entonces, si yo llame a mi servlet, spring, mi mapeo también tiene que ser spring y el tipo de peticiones
  o la extencioón que va a tener este framework va a ser .html.
  Es decir, si yo en mis metodos o en mis acciones yo voy a llamar a:
  listarPersonas
  esta tiene que tener .html.
  listarPersonas.html. 
  Si yo quiero atender cualquier tipo de solicitud, debo ponerle / ,sólo
  -->
  
  <welcome-file-list>
  	<welcome-file>principal.jsp</welcome-file>
  </welcome-file-list>
	

</web-app>
